body{
   margin: 0;
   padding:0%;
   font-family: 'Times New Roman', Times, serif;
}
.banner{
    width: 100%;
    height:100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(82, 62, 62, 0.75),rgba(82, 62, 62, 0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 95%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    font-size: 18px;
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:burlywood;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #d28372;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width:100%;
    position: absolute;
    top:50%;
    transform:translateY(-50);
    text-align: center;
    color:#c9bcaa;
}
.content h1{
    font-size: 50px;
    margin-top:-50px;
}
.content p{
    margin: 5px auto;
    font-weight: 100;
    line-height: 5px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #9b633a;
    background: transparent;
    color:#f9ddce;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

span{
    background: #6e6d71;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}
footer{
    background-color: #bea78f;
}

.footercontainer{
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius:50% ;
}

.socialIcons a i{
    font-size: 2em;
    color: #8ba5a0;
    opacity: 0.9;
}

.socialIcons a:hover i{
    color: black;
    transition: 0.5s;
}

.footerBottom{
    background-color: #d4b9b2;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: black;
}
