*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #7d7265;
    font-size: 18px;
}
.navbar{
    width: 95%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:burlywood;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #d28372;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: #DDAA00;
    margin-left: 15px;
    font-family: cursive;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #DDAA00;
    display: block;
    position: relative;
    bottom: 8px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu .menu_box .menu_card .menu_image{ 
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}
.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 1;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    line-height: 30px;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 6px #DABB96;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #450309;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 13px auto 13px auto;
    color: #F8DF96;
    font-size: 20px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #F8DF96;
    text-align: center;
    margin: 10px 0 20px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #D2B6BA;
    background: #382918;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}

footer{
    background-color: #bea78f;
}

.footercontainer{
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius:50% ;
}

.socialIcons a i{
    font-size: 2em;
    color: #8ba5a0;
    opacity: 0.9;
}

.socialIcons a:hover i{
    color: black;
    transition: 0.5s;
}

.footerBottom{
    background-color: #d4b9b2;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: black;
}

